@import '@/assets/variables.scss';
@import '@/assets/colors.scss';
@import '~vuetify/src/styles/styles.sass';

.groups {
  width: 100%;
  height: 100%;
  &__cover-card {
    min-height: 133px;
  }
  &__table-header {
    margin-top: $MAIN_SPACE;
    background-color: $MAIN_ORANGE;
    padding: $MAIN_SPACE;
    display: flex;
    align-items: center;
    &__title {
      font-size: 1.6rem;
      color: white;
      font-family: Roboto;
      font-weight: 600;
    }
    &__action {
      display: flex;
      align-items: center;
    }
  }
  &__table-card {
    background-color: $MAIN_GREY;
  }
}
@media #{map-get($display-breakpoints, 'md-and-up')}{
  .groups {
    &__table-header {
      margin-top: $MAIN_SPACE * 2;
    }
  }
}