@import '@/assets/variables.scss';
@import '@/assets/colors.scss';
@import '~vuetify/src/styles/styles.sass';

.users {
  width: 100%;
  height: 100%;
  &__create-students-card {
    margin-top: $MAIN_SPACE;
  }
  &__table-header {
    margin-top: $MAIN_SPACE;
    background-color: $MAIN_ORANGE;
    padding: $MAIN_SPACE;
    display: flex;
    align-items: center;
    &__title {
      font-size: 1.6rem;
      color: white;
      font-family: Montserrat;
      font-weight: 600;
    }
    &__action {
      display: flex;
      align-items: center;
    }
  }
  &__table-card {
    background-color: $MAIN_GREY;
  }
}
@media #{map-get($display-breakpoints, 'md-and-up')}{
  .users {
    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $MAIN_SPACE * 2;
    }
    &__create-students-card {
      margin-top: 0;
    }
    &__table-header {
      margin-top: $MAIN_SPACE * 2;
    }
  }
}